body
{
    font-family: Serif;
    color: #000000;
    margin: 40px;
}

code {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 3px 6px;
  border-radius: 4px;
  font-family: 'Consolas', 'Courier New', monospace;
  white-space: pre;
}

samp {
  background-color: #eee;
  border: 1px solid #999;
  border-radius: 6px;
  display: block;
  padding: 10px;
  margin: 15px 0;
  font-family: 'Consolas', 'Courier New', monospace;
  white-space: pre;
  color: #333;
}

#inst {
  padding: 4px;
  font-family: 'Consolas', 'Courier New', monospace;
  white-space: pre;
}

.eg {
    background-color: black;
    color: white;
    padding: 4px;
    font-family: 'Consolas', 'Courier New', monospace;
    font-size: 1.0em;
    white-space: pre;
}

.nobrk {
    white-space: nowrap;
}

table {
    border-collapse: collapse;
    margin-bottom: 20px;
}

td, th {
    padding: 8px 5px;
}

tt {
    font-family: 'Consolas', 'Courier New', monospace;
    background-color: #f9f9f9;
    padding: 2px 4px;
    border-radius: 3px;
    /*color: #c7254e;*/
    color: #a7051e;
}

h1, h2, h3, h4 {
    border-bottom: 1px solid #ddd;
    padding-botton: 5px;
    /*color: #333;*/
}

h1 {
    font-size: 1.8em;
    color: #003693;
}
h2 {
    color: #0046a3;
}
h3 {
    color: #0056b3;
}
h3 {
    color: #0066c3;
}

p, li {
    /*text-align: justify;*/
    margin-bottom: 10px;
}

p {
    line-height: 1.5;
}

ul {
    /*list-style-type: none;*/
    /*padding-left: 0;*/
}

logo {
    font-family: 'Consolas', 'Courier New', monospace;
    /*background-color: #f9f9f9;*/
    padding: 2px 4px;
    border-radius: 3px;
    white-space: pre;
    overflow-x: auto;
    /*color: #c7254e;*/
    color: #333355;
}
